#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.App button {
  width: 3.7rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: rgb(24, 23, 23);
  border: none;
  color: white;
  cursor: pointer;
  justify-content: center;
}
.App button:hover {
  outline: 3px solid #6f00ff;
}

#incrementByAmount {
  width: 10rem;
}
